<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Error Response</title>
    </head>
    <body>
        <h1 class="error">{{message}}</h1>
        <a href="/">Home Application</a>
    </body>
</html>