<html>
    <head>
        <title>
            Search Result
        </title>
    </head>
    <body>
        <p>Username Password Email Id Phone number</p>
        <p>{{userName}} {{password}} {{emailId}} {{phoneNumber}}</p>
    </body>
</html>